.w-20{
  width: 25%;
}

.w-30{
  width: 35%;
}

.w-40{
  width: 550px;
}

.logo-text{
  width: 100px;
}

.bi{
  margin-right: 10px;
}

.story{
  height: 100px;
}

.dp{
  width: 40px;
  height: 40px;
  margin:5px 5px 5px 0;
}



.image{
  width: 550px;
  
}

.suggestions h5{
  font-size: 18px;
}

.suggestions .dp {
  margin-top: 0;
}



.gradient-border {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.story-dp{
  width: 80px;
  height: 80px;
  
}
.profile{
  width: 100px;
  height: 100px;
}